*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    min-height: 10vh;
    width: 100%;
    background-image: linear-gradient(rgba(27, 31, 28, 0.5),rgba(27, 31, 28, 0.5)),url("https://cdn.pixabay.com/photo/2019/09/18/07/09/meadow-4485609_640.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
h1{
    font-size: 40px;
    color: white;
}
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-content: center;
}
.nav_link{
    flex: 1;
    text-align: right;
}
.nav_link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
    text-decoration: none;
}
.nav_link ul a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav_link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #4aea6c;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav_link ul li:hover::after{
    width: 100%;
}
.nav_link ul a i{
    margin-left: 10px;
}
.offer{
    align-items: center;
    display: flex;
    /* margin: 10px; */
    width: 100%;
    min-height: 70vh;
    background-color: rgb(190, 209, 194);
    justify-content: space-between;
}
.offer h1{
    color: black;
    font-size: 40px;
    padding-left: 150px;
}
.offer ul li{
    font-size: 30px;
    padding-bottom: 10px;
    text-decoration: none;
    padding-right: 200px;
}
.offer ul li a{
    font-size: 30px;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
}
.offer li a:hover{
    transform: scale(1.0)translateY(-10px);
    color: white;
    padding: 10px;
}
.footer{
    background-color:rgb(83, 81, 81);
    /* color: #fff;
    text-align: center; */
    padding: 25px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 0px;
}
.footer .social{
    text-align: center;
    color: white;
    padding-bottom: 25px;
}
.footer .social a{
    border: 2px sold rgb(245, 241, 240);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 5px rgb(245, 242, 241),0 0 5px rgb(248, 246, 245);
    transition: 0.3s ease;
    color: white;
}
.footer .social a:hover{
    transform: scale(1.0)translateY(-10px);
    color: white;
    border: 2px solid whitesmoke;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 22px;
    color: white;
}
