*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    /* background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7),url(bg.jpg)); */
    background-image: linear-gradient(rgba(4,15,5,0.5),rgba(4,15,5,0.5)),url("https://cdn.pixabay.com/photo/2017/06/10/16/22/coffee-2390136_1280.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
h1{
    font-size: 40px;
    color: white;
}
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-content: center;
}
.nav_link{
    flex: 1;
    text-align: right;
}
.nav_link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
    text-decoration: none;
}
.nav_link ul a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav_link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #4aea6c;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav_link ul li:hover::after{
    width: 100%;
}
.nav_link ul a i{
    font-size: 25px;
    margin-left: 5px;
}
.text-box{
    width: 90%;
    color: #f1b8d2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
      
}
.types{
    /* width: 80%; */
    margin: auto ;
    text-align: center;
    padding-top: 5px;
}
.types h1{
    color: white;
    font-size: 40px;
    font-weight: 600;
    padding-top: 15px;
}
.types p{
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    color: white;
}
.row{
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
}
.row a{
    color: white;
    text-decoration: none;
}
.row a:hover{
    box-shadow: 0 0 10px 0px rgba(249, 247, 247, 0.6);
    text-decoration: underline;
}
.types{
    background-image: linear-gradient(rgba(4,15,5,0.6),rgba(4,15,5,0.6)),url("https://cdn.pixabay.com/photo/2018/09/03/23/56/sea-3652697_1280.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}