<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenThumb</title>
    <link rel="stylesheet" href="plant.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <section class="header">
        <nav>
            <h1>GREENTHUMB</h1>
            <div class="nav_link">
            <ul>
                <li><a  href="home">Home</a></li>
                <li><a  href="plant">Plant Database</a></li>
                <li><a href="resources">Learning Resources</a></li>
                <li><a href="Tools">Interactive Tools</a></li>
                <li><a href="Community">Community Interaction</a></li>
                <li><a href="/">Logout<i class="fa-solid fa-user"></i></a></li>
            </ul>
        </div>
    </nav>
    <div class="text-box">
        <h1>Plant Database</h1>
        <!-- <p>"Cultivating greenery, nurturing knowledge"</p> -->
    </div>
    </section>
    <section class="types">
        <h1> Various types of plants</h1><br>
        <p>Plant databases can vary widely in scope and depth of information, from simple lists of plant names to comprehensive resources with detailed profiles for thousands of species. They may be maintained by botanical gardens, universities, government agencies, non-profit organizations, or commercial entities, and may be available online or in printed form.</p>
        <div class="row">
            <div class="column">
                <h3>Flower Plants</h3>
                <p>Flower plants, also known as angiosperms, are a diverse group of plants that produce flowers as part of their reproductive process. They are one of the most dominant and widespread groups of plants on Earth, found in nearly every habitat imaginable, from deserts to rainforests, and from mountaintops to ocean shores.</p>
            </div>
            <div class="column">
                <h3>Fruit Plants</h3>
                <p>Fruit plants are a diverse group of plants that produce fruits as part of their reproductive process. Fruits are the mature ovaries of flowering plants and contain seeds, which are essential for the plant's propagation. These plants are also known as angiosperms, and they encompass a wide variety of species, ranging from trees to vines to shrubs.</p>
            </div>
            <div class="column">
                <h3>Medicina Plants</h3>
                <p>Medicinal plants have been utilized for centuries by various cultures around the world for their therapeutic properties. These plants contain bioactive compounds that have the potential to alleviate or prevent illnesses and promote health. From ancient herbal remedies to modern pharmaceuticals derived from plant sources, medicinal plants continue to play a significant role in healthcare.</p>
            </div>
        </div>
    </section>
    <section class="types-d">
        <div class="t-row">
            <div class="t-column">
                <h3>Flower Plants</h3>
                <ul>
                    <!-- <img id="flower" src="https://cdn.pixabay.com/photo/2017/07/12/20/59/bouquet-2498384_1280.jpg" alt="flowerrs"><br> -->
                    <a href="https://www.britannica.com/plant/rose-plant">Rose plant database</a><br>
                    <a href="https://www.britannica.com/plant/jasmine-plant">Jasmine plant database</a><br>
                    <a href="https://www.britannica.com/plant/bellflower-plant">Bellflower plant database</a><br>
                    <a href="https://www.britannica.com/plant/bird-of-paradise-flower">bird-of-paradise-flower plant database</a><br>
                    <a href="https://www.britannica.com/plant/daffodil">Daffodil plant database</a><br>
                </ul>
            </div>
            <div class="t-column">
                <h3>Fruit Plants</h3>
                <ul>
                    <a href="https://www.britannica.com/science/legume">legume plant database</a><br>
                    <a href="https://www.britannica.com/science/achene">Achene plant database</a><br>
                    <a href="https://www.britannica.com/science/parthenocarpy">Parthenocarpy plant database</a><br>
                    <a href="https://www.britannica.com/science/biennial">Biennial plant database</a><br>
                    <a href="https://www.britannica.com/science/caryopsis">caryopsis plant database</a><br>
                </ul>
            </div>
            <div class="t-column">
                <h3>Medicina Plants</h3>
                <ul>
                    <a href="https://en.wikipedia.org/wiki/Medicinal_plants#Phytochemical_basis">Phytochemical plant database</a><br>
                    <a href="https://en.wikipedia.org/wiki/Alkaloid">Alkaloid plant database</a><br>
                    <a href="https://en.wikipedia.org/wiki/Medicinal_plants#Glycosides">Glycosides plant database</a><br>
                    <a href="https://en.wikipedia.org/wiki/Medicinal_plants#Polyphenols">Polyphenols plant database</a><br>
                    <a href="https://en.wikipedia.org/wiki/Medicinal_plants#Terpenes">Terpenes plant database</a><br>
                </ul>
            </div>
        </div>
    </section>
    <footer>
        <p>&copy; 2024 GreenThumb. All rights reserved.</p>
    </footer>
</body>
</html>