<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenThumb</title>
    <link rel="stylesheet" href="plant.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
    <section class="header">
        <nav>
            <h1>GREENTHUMB</h1>
            <div class="nav_link">
            <ul>
                <li><a  href="home">Home</a></li>
                <li><a  href="plant">Plant database</a></li>
                <li><a href="resources">Learning Resources</a></li>
                <li><a href="Tools">Interactive Tools</a></li>
                <li><a href="Community">Community Interaction</a></li>
                <li><a href="/">Logout<i class="fa-solid fa-user"></i></a></li>
            </ul>
        </div>
    </nav>
    </section>
    <div class="var">
        <h1>Various types of Plant Databases</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="image">
                    <img src="https://img.freepik.com/free-photo/red-roses-bouquet-table_140725-828.jpg?t=st=1714532254~exp=1714535854~hmac=274a5c833d20667c0cdd535a6488700186ae4b163116b62857e5d076c33c990f&w=360" alt="rose">
                    <div class="details">
                        <h2><span>Rose</span> Plant</h2>
                        <P>Roses, the classic symbols of love and beauty, are beloved for their stunning blooms and intoxicating fragrance, adding elegance and charm to any garden.</P>
                        <div class="more">
                            <a href="https://www.kew.org/plants/roses#:~:text=Plant%20description,-There%20are%20hundreds&text=Their%20stems%20are%20usually%20prickly,berry%2Dlike%20fruits%20called%20hips." class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="https://cdn.pixabay.com/photo/2018/06/22/22/42/david-lily-3491819_640.jpg" alt="rose">
                    <div class="details">
                        <h2><span>Lilies</span> Plant</h2>
                        <P>Lilies are stunning flowering plants with large, trumpet-shaped flowers that come in a range of colors, including white, yellow, orange, pink, and red.</P>
                        <div class="more">
                            <a href="https://www.almanac.com/plant/lilies" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="https://cdn.pixabay.com/photo/2018/04/08/17/51/nature-3301943_640.jpg" alt="rose">
                    <div class="details">
                        <h2><span>Tulips </span> Plant</h2>
                        <P>Tulips are beloved spring-blooming flowers with cup-shaped blooms that come in a wide array of colors and patterns.</P>
                        <div class="more">
                            <a href="https://www.almanac.com/plant/tulips#:~:text=Tulip%20bulbs%20are%20planted%20in,use%20as%20cut%20flowers%2C%20too." class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="image">
                    <img src="https://cdn.pixabay.com/photo/2019/09/25/20/10/apples-4504611_640.jpg" alt="rose">
                    <div class="details">
                        <h2><span>Apple</span> Tree</h2>
                        <P>Apples are one of the most widely cultivated and consumed fruits worldwide. The apple tree produces delicious and nutritious fruits in a variety of colors and flavors.</P>
                        <div class="more">
                            <a href="https://extension.umn.edu/fruit/growing-apples" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="https://cdn.pixabay.com/photo/2016/07/08/10/27/cherries-1503977_640.jpg" alt="rose">
                    <div class="details">
                        <h2><span>Cherry </span> Tree</h2>
                        <P>Cherries are small, round fruits produced by cherry trees. They come in sweet and tart varieties and are enjoyed fresh, dried, or used in pies, jams, and sauces..</P>
                        <div class="more">
                            <a href="https://wikifarmer.com/plant-information-of-cherries/" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="https://img.freepik.com/free-photo/strawberries-cut-half-whole-berries-ripe-berries-top-view-background-ripe-strawberries-delicious-natural-dessert_166373-2358.jpg?t=st=1714538327~exp=1714541927~hmac=7a84ce0a70e4d2ff43954a523de82a10cdba7eb7dd71c658d08f26cfd74cd4e7&w=360" alt="rose">
                    <div class="details">
                        <h2><span>Strawberry</span> plant</h2>
                        <P> Strawberries are perennial plants that produce sweet, juicy berries. They are often grown in gardens and are enjoyed fresh, in desserts, or as preserves.</P>
                        <div class="more">
                            <a href="https://sites.redlands.edu/trees/species-accounts/strawberry-tree/" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="image">
                    <img src="https://cdn.pixabay.com/photo/2020/01/01/10/11/aloe-vera-4733276_640.jpg  " alt="rose">
                    <div class="details">
                        <h2><span>Aloe Vera </span></h2>
                        <P>Aloe vera is a succulent plant with thick, fleshy leaves that contain a gel rich in vitamins, minerals, and antioxidants. It is used topically to soothe sunburns, wounds, and skin irritations.</P>
                        <div class="more">
                            <a href="https://www.kew.org/plants/aloe-vera" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="https://cdn.pixabay.com/photo/2019/09/18/18/18/peppermint-4487398_640.jpg" alt="rose">
                    <div class="details">
                        <h2><span>Peppermint</span></h2>
                        <P>Peppermint is a hybrid mint plant with aromatic leaves containing menthol. It is used in teas, essential oils, and topical preparations to relieve digestive issues, headaches, and muscle pain.</P>
                        <div class="more">
                            <a href="https://wikifarmer.com/peppermint-plant-information/" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="https://cdn.pixabay.com/photo/2016/06/02/21/54/garlic-1432245_640.jpg" alt="rose">
                    <div class="details">
                        <h2><span>Garlic </span></h2>
                        <P>Garlic is a bulbous plant used both as a culinary ingredient and in herbal medicine. It is believed to have antibacterial, antiviral, and immune-boosting properties and is used to support cardiovascular health and immune function.</P>
                        <div class="more">
                            <a href="https://www.kew.org/plants/garlic" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="social">
                <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.linkedin.com/feed/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
            </div>
            <p class="copyright"> 2024 GreenThumb | All Rights Reserved.</p>
        </footer>
        <script>
            ScrollReveal({
                 reset: true ,
                 distance:'60px',
                 duration: 2500,
                 delay: 400
                });
                ScrollReveal().reveal('.row', { delay: 600 ,origin:'left'});
        </script>
</body>
</html>
