<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenThumb</title>
    <link rel="stylesheet" href="resources.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
    <section class="header">
        <nav>
            <h1>GREENTHUMB</h1>
            <!-- <div class="fas fa-bars"></div> -->
            <div class="nav_link">
                <ul>
                <li><a href="home">Home</a></li>
                <li><a href="plant">Plant database</a></li>
                <li><a href="resources">Learning Resources</a></li>
                <li><a href="Tools">Interactive Tools</a></li>
                <li><a href="Community">Community Interaction</a></li>
                <li><a href="/">Logout<i class="fa-solid fa-user"></i></a></li>
                </ul>
            </div>
        </nav>
    </section>
    <section class="offer">
        <h1>BOOKS</h1>
        <ul>
            <li>"Plant Physiology" by Lincoln Taiz and Eduardo Zeiger : <a href="https://exa.unne.edu.ar/biologia/fisiologia.vegetal/PlantPhysiologyTaiz2002.pdf">click here</a></li>
            <li>"The Well-Tempered Garden" by Christopher Lloyd : <a href=https://archive.org/details/welltemperedgard0000lloy_o9d5/page/n5/mode/2up>click here</a></li>
            <li>"The House Plant Expert" by D.G. Hessayon : <a href="https://archive.org/details/houseplantexpert0000dghe">click here</a></li>
            <li>"The Complete Book of Plant Propagation" by Graham Clarke : <a href="https://archive.org/details/completebookofpl0000clar_n0e3">click here </a></li>
            <li>"The Vegetable Gardener's Bible" by Edward C. Smith : <a href=https://archive.org/details/vegetablegardene00smit>click here</a></li>
        </ul>
    </section>
    <section class="video">
        <ul >
            <li><i class="fa-solid fa-arrow-right"></i>" Seed Starting 101" : <a href="https://youtu.be/zX3eePK5ifU?si=5Ni0UBpY-GpGnyGU">click here</a></li>
            <li><i class="fa-solid fa-arrow-right"></i>"Transplanting Tips" : <a href="https://youtu.be/Ck35_Z1VYlE?si=dSxKvivwb-aZPEYe">click here</a></li>
            <li><i class="fa-solid fa-arrow-right"></i>"Pruning Made Easy" : <a href="https://youtu.be/zgbO2DAP1gY?si=h55aXqoapmP-thSZ">click here</a></li>
            <li><i class="fa-solid fa-arrow-right"></i>"Building Raised Beds" : <a href="https://youtu.be/MBIYebUgVVI?si=xLAtKmwJxd8UjpW7">click here </a></li>
            <li><i class="fa-solid fa-arrow-right"></i>"Pest and Disease Management" : <a href="https://youtu.be/hXlSicZE9jI?si=76GnZPiWx1_d8BCu">click here</a></li>
        </ul>
        <h1>Video Tutorials</h1>
    </section>
    <section class="offers">
        <h1>MAGAZINES</h1>
        <ul>
        <li>"Better Homes & Gardens" : <a href="https://www.bhg.com/better-homes-and-garden-magazine/">click here</a></li>
        <li>"Fine Gardening" : <a href="https://www.finegardening.com/magazine">click here</a></li>
        <li>"Horticulture" : <a href="https://horticulture.co.uk/">click here</a></li>
        <li>"Wildflower" : <a href="https://wildflowermagazine.co.uk/">click here </a></li>
    </ul>
    </section>
    <footer class="footer">
        <div class="social">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.linkedin.com/feed/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <p class="copyright"> 2024 GreenThumb | All Rights Reserved.</p>
    </footer>
    <script>
        ScrollReveal({
             reset: true ,
             distance:'60px',
             duration: 2500,
             delay: 400
            });
            ScrollReveal().reveal('.offer,.offers', { delay: 600,origin:"left"}),
            ScrollReveal().reveal('.video', { delay: 600,origin:"right"})
    </script>
</body>
</html>
