<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GREENTHUMB</title>
        <link rel="stylesheet" href="signup.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <h1>GREENTHUMB</h1>
        <nav class="home">
        <h2>Sign Up</h2>
       <form action="/signup" method="post" >
           <input placeholder="Name" name="name" type="text">
            <br>
            <input placeholder="Password" name="password" type="password">
            <br>
            <input class="sub" type="submit">
        </form>
            <a href="/">Go back to login page</a>
    </nav>
    </body>
</html>